/* importing fonts */
@font-face {
    font-family: sansita;
    src: url(../resources/fonts/SansitaSwashed-VariableFont_wght.ttf);
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a
{
    text-decoration: none;
}

html , body
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}



/* ----------------------------------------- */



body
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sansita , sans-serif;
}




.gameContainer{
    width: 70%;
    height: 70%;
    background: transparent;
    border-radius: 9px;
    display: flex;
    box-shadow: 0 3px 3px rgb(0 0 0 / 50%);
    position: relative;
}





/* player 1 */
.player1-container{
    width: 50%;
    background: pink;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15%;
    padding: 50px;
}
.player1-header{
    font-size: 50px;
}
.player1-total-points{
    font-size: 50px;
    color: red;
}
.player1-points{
    background: orangered;
    width: 64%;
    height: 30%;
    border-radius: 9px;
    padding: 1%;
    font-size: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    filter: brightness(1.3);
    box-shadow: 0 0 2px rgb(0 0 0 / 50%);
}
.player1-points-title{
    background: orange;
    border-radius: 9px;
    user-select: none;
}




/* player 2 */
.player2-container{
    width: 50%;
    background: cornflowerblue;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15%;
    padding: 50px;
}
.player2-header{
    font-size: 50px;
}
.player2-total-points{
    font-size: 50px;
    color: red;
}
.player2-points{
    background: orangered;
    width: 64%;
    height: 30%;
    border-radius: 9px;
    padding: 1%;
    font-size: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    filter: brightness(1.3);
    box-shadow: 0 0 2px rgb(0 0 0 / 50%);
}
.player2-points-title{
    background: orange;
    border-radius: 9px;
    user-select: none;
}




/* three middle buttons */
.newGameBtn , .rollDiceBtn , .holdBtn{
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    padding: 9px;
    border-radius: 40px;
    height: 10%;
    width: 15%;
    font-size: 18px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 50%);
    cursor: pointer;
}
}
.rollDiceBtn{
    top: 54%;
}
.holdBtn{
    top: 63%;
}